@tailwind base;
@tailwind components;
@tailwind utilities;

/* ====== Custom Font Faces ====== */

@font-face {
  font-family: NataSans-ExtraBold;
  src: url("assets/fonts/Nata_Sans/static/NataSans-ExtraBold.ttf")
    format("truetype");
}

@font-face {
  font-family: NataSans-Bold;
  src: url("assets/fonts/Nata_Sans/static/NataSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: NataSans-Medium;
  src: url("assets/fonts/Nata_Sans/static/NataSans-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: NataSans-Regular;
  src: url("assets/fonts/Nata_Sans/static/NataSans-Regular.ttf")
    format("truetype");
}

/* ====== Custom SimpleBar Style ====== */

.custom-scrollbar .simplebar-scrollbar::before {
  background: linear-gradient(to bottom, #5021fc, #380d80);
  border-radius: 6px;
  transition: background 0.25s ease, box-shadow 0.25s ease;
  transform: scaleY(0.8); /* تقصير */
  transform-origin: center;
}

.custom-scrollbar-provider .simplebar-scrollbar::before {
  background: linear-gradient(to bottom, #74dda5, #44cf85);
  border-radius: 6px;
  transition: background 0.25s ease, box-shadow 0.25s ease;
  transform: scaleY(0.8); /* تقصير */
  transform-origin: center;
}

.custom-scrollbar .simplebar-scrollbar:hover::before {
  background: linear-gradient(to bottom, #6112c2, #380e6b);
  box-shadow: 0 0 14px rgb(65 0 255 / 70%);
}

.custom-scrollbar-provider .simplebar-scrollbar:hover::before {
  background: linear-gradient(to bottom, #3f8861, #114f2e);
  box-shadow: 0 0 14px rgb(124 211 124 / 70%);
}

.custom-scrollbar .simplebar-scrollbar, .custom-scrollbar-provider .simplebar-scrollbar {
  width: 10px;
}

.custom-scrollbar .simplebar-track.simplebar-vertical, .custom-scrollbar-provider .simplebar-track.simplebar-vertical {
  background: rgb(0 0 0 / 0%);
  width: 10px;
  border-radius: 20px;
}


/* ====== Custom CSS Animation ====== */

@keyframes gradient-x {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}

/* ====== Remove default browser calendar icon ====== */

.hide-date-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.hide-date-icon {
  appearance: none;
}
